/.vscode
/arquivo_1755847910235MOD2-NC2_ESTRUTURAS DE DADOS - CONCEITOS E REPRESENTAÇÃO.mp4
/arquivo_1755849143156MOD2-NC3_ESTRUTURAS DE DADOS - CONCEITOS E REPRESENTAÇÃO.mp4
/arvore.c
/arvore.exe
/arvoreTrie.c
/arvoreTrie.exe
/biblioteca-modulada.c
/desafio-cadastro-das-cartas-no-super-trunfo-maalineramos-main
/desafio-cadastro-das-cartas-no-super-trunfo-maalineramos-main.zip
/detective-quest-maalineramos-main
/detective-quest-maalineramos-main.zip
/exemplo-de-estrutura.c
/exemplo-de-estrutura.exe
/exemplo-de-ponteiro.c
/exemplo-de-ponteiro2.c
/exemplo-de-ponteiro2.exe
/fila-circular.c
/fila-circular.exe
/filaC.c
/free-fire-maalineramos-main
/free-fire-maalineramos-main.zip
/freefire.c
/p
/pilha.c
/pilha.exe
/ponteiro-para-funcao.c
/ponteiro-para-funcao.exe
/ponteiro-para-função.exe
/ponteiros-para-estruturas.c
/ponteiros-para-estruturas.exe
/tetris-maalineramos-main
/tetris-maalineramos-main.zip
/tipo-de-estrutura.c
/tipo-de-estrutura.exe
/war.c
/war.exe